# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\peter\OneDrive - Danmarks Tekniske Universitet\DTU\4. Semester\CDIOproj\SolitarieSolver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
